@import '~bootstrap/scss/bootstrap';
@import 'theme';

body {
  background-color: bg-info;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth {
  align-items: center;
  justify-content: center;
}

.quote {
  align-items: center;
  display: flex;
  justify-content: center;
}
