@import '~bootstrap/scss/bootstrap';
@import 'theme';
@import 'colors';

body {
  background-color: $light;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth {
  align-items: center;
  justify-content: center;
}

.quote {
  align-items: center;
  display: flex;
  justify-content: center;
}

.message {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sub-title {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark {
  color: $dark;
}

.primary {
  color: $primary;
}

.larger-checkbox {
  transform: scale(4);
}
